@import "utils";
@import "fonts";
@import "typography";
@import "twitter-card";
@import "carousel-button";

body {
  font-family: Lato, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider {
  margin: 0 auto;

  display: flex;
  align-items: center;
}

.carousel {

  display: flex;

  transition: transform 300ms ease-in;

  &-wrapper {
    width: 310px;
    margin: 0 20px;
    overflow: hidden;
  }

  &__dots-wrap {
    display: flex;
    justify-content: center;
  }

  &__dot {
    border: 0;
    border-radius: 50%;

    width: 10px;
    height: 10px;

    background-color: lightgrey;
    margin: 5px;

    cursor: pointer;

    &_active {
      background-color: grey;
    }
  }
}
